/* Variables */
:root {
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --bgd-color: lightgrey;
    --blue-color: #0069D9;
    --darkgrey: #31343D;
    --sec-heading-color: #445876;
    --highlight: rgb(199, 172, 19, 1);
    --links: yellow;
    --transition: 0.5s;
    --line-height: 1.5;
    --margin: 0;
    --padding: 0;
}

body {
    background-color: lightcyan;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Anton', sans-serif;
}

p {
    font-family: 'Jura', sans-serif;
}

/* style of main navbar */
.customNav {
    position: fixed;
    width: 100%;
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.navbar-brand img {
    padding-right: 15px;
    width: 65px;
}

.nav-item {
    margin: 0px 15px;
}

#mainNav a {
    color: white;
}

.navCTA {
    font-size: 18px;
}

/* mainNav hover effect */
#mainNav .navbar-nav>li>a:hover,
#mainNav .navbar-nav>li>a:focus:hover {
    color: var(--links);
}


/* hero section: jumbotron style */
.jumbotron {
    background-image: url("../images/my-web-development-img-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 20px);
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.jumboText {
    width: 100%;
    color: var(--blue-color);
    margin-top: 75px;
    margin-bottom: 50px;
    margin-left: 220px;
    text-align: center;
}

.jumboText a {
    margin-top: 100px;

}

/* prewritten css */
footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    margin-top: 50px;
}

.cardContainer {
    margin-top: 20px;
}

.card {
    margin: 0 auto;
}