/* Variables */
:root {
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --bgd-color: lightgrey;
    --blue-color: #0069D9;
    --darkgrey: #31343D;
    --sec-heading-color: #445876;
    --highlight: rgb(199, 172, 19, 1);
    --links: yellow;
    --transition: 0.5s;
    --line-height: 1.5;
    --margin: 0;
    --padding: 0;
}

body {
    background-color: lightcyan;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Anton', sans-serif;
}

p {
    font-family: 'Jura', sans-serif;
}

/* style of main navbar */
.customNav {
    position: relative;
    width: 100%;
    background: url("../images/transparency.png");
    background-size: cover;
    z-index: 10;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.navbar-brand img {
    padding-right: 15px;
    width: 65px;
}

.nav-item {
    margin: 0px 15px;
}

#mainNav a {
    color: white;
}

.navCTA {
    font-size: 20px;
}

/* mainNav hover effect */
#mainNav .navbar-nav>li>a:hover,
#mainNav .navbar-nav>li>a:focus:hover {
    color: var(--links);
}


/* hero section: jumbotron style */
.jumbotron {
    background-image: url("../images/my-web-development-img-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 20px);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumboText {
    width: 100%;
    color: var(--blue-color);
    margin-left: 190px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.jumboText a {
    margin-top: 20px;

}

.page-section {
    margin: 50px 20px;
}

.sectionHeading {
    text-align: center;
    font-weight: bold;
    color: var(--blue-color);
    margin-bottom: 30px;
}

/* work section: Cards */
.card-title {
    font-weight: bold;
    color: var(--blue-color);
}

/* skills section */
section#skills ul {
    margin: 20px 20px;
}

section#skills ul li {
    margin: 10px 0px;
}

section#skills ul li a {
    margin-left: 20px;
    font-weight: bold;
}

section#skills ul li p {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

/* contact section */
section#contact .card {
    border: 0;
    border-bottom: 0.4rem solid var(--blue-color);
}

section#contact .card hr {
    border-color: var(--blue-color);
    border-width: 0.15rem;
    width: 8rem;
}

/* footer */

/* icons css */
footer {
    position: absolute;
    width: 100%;
    margin-top: 20px;
    line-height: 40px;
}

.social {
    list-style: none;
    margin-right: 35px;
}

.social li a:hover {
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 5px var(--highlight);
  }
  

/* copyright style */
footer p {
    font-size: 12px;
    text-align: center;
    color: grey;
}